body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.nav{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

nav a{
margin-left:15px;
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:150px 20px;
background:url("../images/background.jpeg");
background-size:cover;
}

.btn{
background:#6366f1;
padding:12px 20px;
border-radius:8px;
color:white;
text-decoration:none;
}

.card{
background:#1e293b;
padding:20px;
border-radius:12px;
margin:10px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:40px;
}
